*{
    font-family: $fontMain;
    padding: 0;
    margin: 0;
    font-size: 62.5%;
}

h1,
h2,
h3{
    font-family: $secondaryFont;
    font-weight: $textBold;
    color: map-get($map: $paleta, $key: 'white');
}

h1{
    font-size: $textLg - 1rem;
	text-align: center;
	padding-top: 2rem;
}

h2{
    text-align: center;
	padding: 1rem;
    font-size: $textMd;
}

h3{
    font-size: $textSm;
}

p{
    @include media (mobile){
        font-size: $textSm + 1rem;
        color:map-get($map: $paleta, $key: 'white');
        padding: 0 2rem;
    }
    @include media (tablet){
        font-size: $textMd - .5rem;
    }
  
}

aside{
        grid-area: aside;
		display: flex;
		justify-content: center;
		align-items: center;
		font-size: $textLg;
		border: map-get($map: $paleta, $key: 'grey') solid 1rem;
		background-color: map-get($map: $paleta, $key: 'softGrey');
        div{
            ul{
                li{
                    margin: 2rem;
                    list-style: none;
                    font-size: $textMd - 1rem;
                    text-align: center;
                }
            }
        }
}

header{
    grid-area: header;
}

.header__image{
    display: flex;
    justify-content: center;
    background: $headerColor;
}

.headerImage{
    padding-bottom: 4rem;
}

main{
    background-image: url(../img/carretera.jpg);
	background-color:$softColor;
	background-blend-mode: soft-light;
	background-repeat: no-repeat;
	background-size: cover;
	display: grid;
	grid-area: main;
	overflow: hidden;
}

a{
    text-decoration: none;
	color: map-get($map: $paleta, $key: 'black');
}

.logos__pagos{
    display: flex;
    @include media (mobile){
        flex-direction: column;
		align-items: flex-start;
        }
        @include media (tablet){
            flex-direction: row;
            justify-content: space-around;
        }
        img{
            @include media (mobile){
            margin: 2rem;
             }
         }
}

.navegacion__seleccion--encendido{
    color: map-get($map: $paleta, $key: 'thirdColor');
}

.navegacion__seleccion{
    &:hover{
        color: map-get($map: $paleta, $key: 'thirdColor');
    }
}

.coberturas__moto{
    margin: 1rem;
    text-align: center;
    background: $navColor;
    border-radius: 5rem;
    .coberturaTitulos{
        padding-top: 2rem;
        text-decoration: underline;
    }
    P{
        color: map-get($map: $paleta, $key: 'black');
        font-weight: $textBold;
    }
}

.coberturas{
    padding: 2rem;
}

.fondo__cobertura{
    @include media (mobile){
        display: flex;
        flex-direction: column;
    }
    @include media (tablet){
        flex-direction: row;
    }

}

.coberturas__auto{
    @extend .coberturas__moto;
        background: $coberturaAuto;
}

.coberturas__camioneta{
    @extend .coberturas__moto;
        background: $coberturaCamioneta;
}

.borde{
    margin: 1rem;
}

.bg-lightblue{
    background: $navColor
}

.accordion{
    margin-bottom: 4rem;
}

.fuente__acordeon p{
    font-size: 2rem;
    color: map-get($map: $paleta, $key: 'black');
    margin-left: 1rem;
}

.active{
    color: map-get($map: $paleta, $key: 'white') !important;
}

.tabla__ubicacion{
    display: flex;
    flex-direction: column;
    align-items: center;  
	padding: 2rem;
    .tabla__precios{
        @include media (mobile){
            font-size: $textLg + 1rem;
            color:map-get($map: $paleta, $key: 'black');
            border: 1rem double $degradeGrisBlanco;
            background: $degradeGrisBlanco;
            td{
                padding: 0 2rem;
            }
            th{
                padding: 0 2rem;
            }
            .diaPrecio{
                padding: 0 4rem;
            }
            
        }
        @include media (tablet){
            font-size: $textExtraLg * 2;
        
            td{
                font-size: $textMd;
                padding: 0 5rem;
            }
            th{
                padding: 0 5rem;
            }
            .diaPrecio{
                padding: 0 8rem;
            }
        }
    }
}

.interesTarjetas{
    background-color: map-get($map: $paleta, $key: 'mainColor');
    margin-top: 2rem;
    p{
       font-weight: $textBold;
       color: map-get($map: $paleta, $key: 'black');
    }
}

p{
    code{
        color: map-get($map: $paleta, $key: 'black');
    }
}

