@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300&family=Roboto:wght@300&display=swap');
$fontMain:'Roboto', sans-serif;
$secondaryFont:'Nunito', sans-serif;

$textExtraLg:8rem;
$textLg:5rem;
$textMd:3rem;
$textSm:1rem;

$textBold:700;
$textRegular:400;
$textLight:300;
